


<style>

body { font-family: arial, helvetica, sans-serif;  font-size: 11px; color: #000000 }

td { font-family: arial, helvetica, sans-serif;  font-size: 12px; color: #000000 }

.text {color: #000000;  font-family: arial, helvetica, sans-serif;  font-size: 10px; text-decoration: none}

.textlight {color: #000000;  font-family: arial, helvetica, sans-serif;  font-size: 10px; text-decoration: none}

.header {font-family: arial, helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #333333 }

.header2 {font-family: arial, helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000 }

.header3 {font-family: arial, helvetica, sans-serif; font-size: 10px; color: #000000 }



a:link {color: #666666;  font-family: arial, helvetica, sans-serif; font-weight: bold; font-size: 12px; text-decoration: none}

a:visited {color: #666666;  font-family: arial, helvetica, sans-serif; font-weight: bold; font-size: 12px; text-decoration: none} 

a:active {color: #666666;  font-family: arial, helvetica, sans-serif; font-weight: bold; font-size: 12px; text-decoration: none} 

a:hover {text-decoration: underline;  font-family:arial, helvetica, sans-serif; font-weight: bold; font-size: 12px;color: #6495ed; cursor: hand}


</style>
